/*****************************
CSS reset
*****************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    color:#fff;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/*****************************
home
*****************************/
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700,900);

html{
    width: 100%;
    height: 100%;
    background: #f9f9f9 url("../images/background_1366.jpg") no-repeat;
    background-size:100% 100%;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

table{
    margin: auto;
}

table td{
     vertical-align:middle;
     height:300px;
}

#container{
    width: 100%;
    position: relative;
}


#container header{
    width: 100%;
    height: 50px;
}

#metro{
    width: 35%;
    position: absolute;
    right: 1%;
    background-color: #f9f9f9;
}

#contact{
    width: 35%;
    margin: 0;
    position: absolute;
    right: 1%;
    text-align: center;    
    font-size: 26px;
    background-color: #99CC99;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
    z-index: -1;
}

#favourites{
    width: 35%;
    margin: 0;
    position: absolute;
    right: 1%;
    text-align: center;
    font-size: 26px;
    background-color: #C24747;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
    z-index: -1;
}

.close {
    position: absolute;
    right: 0.5%;
    width: 2em;
    height: 2em;
    text-indent: -9000px;
    cursor: pointer;
    z-index: 1000;
}

.close::before {
    content: 'x';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3em;
    line-height: 0.6;
    text-indent: 0px;
}

.grid{
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

.grid li{
    width: 48%;
    float: left;
    color: #fff; 
    font-size: 26px;
    margin: 1%;
    vertical-align: middle;
    line-height: 150px;
    opacity: 0.8;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.grid li:hover{
    opacity: 1;
    cursor: pointer;
}

.grid li:nth-child(1){ 
    background: #3399CC;
}

.grid li:nth-child(2){ 
    background: #FFCC66;
}

.grid li:nth-child(3){
    background: #99CC99;
}

.grid li:nth-child(4){ 
    background: #C24747;
}


@media screen and (max-width: 800px){
    html{
        background: #f9f9f9 no-repeat fixed;
    }
    #metro, #contact, #favourites{
        width: 90%;
        left: 50%;
        margin-left: -45%;
    }

@media screen and (max-width: 300px){
    .grid li{
        width: 100%;
    }
}
